{% extends 'index.html' %}
{% block titel %}
    <title>日程服务</title>
{% endblock %}

{% block a %}
    <div class="container">
        <hr>
        <form action="/schedule" method="post">
            <div>
                <label for="exampleFormControlTextarea1">提醒内容:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text"></textarea>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">执行时间:</label>
                <input type="datetime-local" class="form-control" id="exampleFormControlInput1" name="datetime">
            </div>

            <button type="submit" class="btn btn-primary">添加</button>

        </form>

        {% if schedule_list|length >0 %}

            <hr>
            {% for schedule in schedule_list %}
                <div class="card">
                    <div class="card-header">
                        {% if schedule.time|ct < 0 %}
                            {{ '还剩%s天' | format(schedule.time|ctabs) }}
                        {% elif schedule.time|ct >= 0 %}
                            {{ '过去%s天' | format(schedule.time|ct) }}
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ schedule.text }}</p>
                            <footer class="blockquote-footer">创建时间：{{ schedule.ctime|unix }} <cite
                                    title="Source Title"> 执行时间：{{ schedule.time|unix }} <a
                                    href="/sedel/{{ schedule.id }}">del</a></cite>
                            </footer>
                        </blockquote>
                    </div>
                </div><br>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}